[submodule "projects/hover"]
	path = projects/hover
	url = git@github.com:Humanoid-Athletic-Robotics-Project-HARP/HOVER.git
	branch = main
[submodule "projects/him-collaborators"]
	path = projects/him-collaborators
	url = git@github.com:HIMRobotics/him-collaborators.git
	branch = main
[submodule "projects/booster_robotics_sdk"]
	path = projects/booster_robotics_sdk
	url = https://github.com/BoosterRobotics/booster_robotics_sdk
[submodule "projects/ttrl-icra2026"]
	path = projects/ttrl-icra2026
	url = https://github.com/purdue-tracelab/TTRL-ICRA2026.git
	branch = main
